<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple Polylines</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div class="container" id="map"></div>
    <script>

      // This example creates a 2-pixel-wide red polyline showing the path of
      // the first trans-Pacific flight between Oakland, CA, and Brisbane,
      // Australia which was made by Charles Kingsford Smith.
      var array_coordinates = <%= raw @trip.hike.coordinates.to_json %>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          mapTypeId: 'terrain'
        });


        var lat_min = <%= @trip.hike.coordinates.min_by{|x| x["lat"]}["lat"] %>;
        var lat_max = <%= @trip.hike.coordinates.max_by{|x| x["lat"]}["lat"] %>;
        var lng_min = <%= @trip.hike.coordinates.min_by{|x| x["lng"]}["lng"] %>;
        var lng_max = <%= @trip.hike.coordinates.max_by{|x| x["lng"]}["lng"] %>;

        map.setCenter(new google.maps.LatLng(
          ((lat_max + lat_min) / 2.0),
          ((lng_max + lng_min) / 2.0)
        ));
        map.fitBounds(new google.maps.LatLngBounds(
          //bottom left
          new google.maps.LatLng(lat_min, lng_min),
          //top right
          new google.maps.LatLng(lat_max, lng_max)
        ));

        var flightPlanCoordinates = array_coordinates;


        var flightPath = new google.maps.Polyline({
          path: flightPlanCoordinates,
          geodesic: true,
          strokeColor: '#FF0000',
          strokeOpacity: 1.0,
          strokeWeight: 2
        });

        flightPath.setMap(map);
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmVclghQMSZS0kb19YLihezKkVMpoFwNs&callback=initMap">
    </script>
  </body>
</html>




