<div id="submission__area">

  <% count_seats = [@trip.seats - @submissions.where(accepted: true).to_a.size, 0].max %>
  <% if policy(@trip).date_passed? %>
    <h3 class="main__title">Too late, this hike has passed!</h3>
  <% elsif count_seats == 0 %>
    <h3 class="main__title">This hike is full!</h3>
  <% else %>
    <h3 class="main__title"><%= pluralize(count_seats, "seat") %> available</h3>
  <% end %>

  <div class="submission__buddies">
    <div class="submission__buddies__list">

      <div class="submission__buddies__buddy">
        <% user_avatar = @trip.user.facebook_picture_url || @trip.user.avatar || "default-avatar.png" %>
        <%= cl_image_tag user_avatar, class: "avatar", crop: :thumb, gravity: :face, width: 300, height: 300 %>
      </div>

      <% if @submissions.where(accepted: true).present? %>
        <% @submissions.where(accepted: true).each do |submission| %>
          <div class="submission__buddies__buddy">
            <%= link_to user_path(submission.user) do %>

              <% user_avatar = submission.user.facebook_picture_url || submission.user.avatar || "default-avatar.png" %>
              <%= cl_image_tag user_avatar, class: "avatar", crop: :thumb, gravity: :face, width: 300, height: 300 %>

              <% if policy(submission).current_user_is_driver? %>
                <%= link_to(reject_submission_path(@trip, submission), class: "reject") do %>
                  <%= icon('fas', 'times') %>
                <% end %>
              <% end %>

              <% if policy(submission).current_user? %>
                <%= link_to(reject_submission_path(@trip, submission), class: "reject") do %>
                  <%= icon('fas', 'times') %>
                <% end %>
              <% end %>

            <% end %>
          </div>
        <% end %>
      <% end  %>
      
    </div>
    <a href="#hike__buddies" class="btn btn--secondary">See buddies details<%= icon('fas', 'users') %></a>
  </div>

  <% if !policy(@trip).date_passed? %>
    <% if policy(@submission).create? %>
    <div class="submission__form">
      <%= simple_form_for([@trip, @submission]) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :content, as: :text, placeholder: "Tell #{@trip.user.first_name} why you want to be buddies" %>
        </div>
        <div class="form-actions">
          <%= button_tag class: "btn btn--primary" do %>
            Join this hike<%= icon('fas', 'user-plus') %>
          <% end %>
        </div>
      <% if policy(@trip).automatic? %>
        <p>Submissions are automatically accepted</p>
      <% else %>
        <p>Submissions are manually validated by <%= @trip.user.first_name %></p>
      <% end %>
      <% end %>
    </div>
    <% end %>
  <% end %>
  <% if @submissions.where(user_id: current_user.id, accepted: nil).present? %>
    <p class="submission__approval__waiting">You will be notified by email when your submission will be treated by <%= @trip.user.first_name %>.</p>
  <% end  %>
  <% if @trip.user == current_user %>
    <% if policy(@submission).submissions_pending? %>
      <h3>Waiting for approval</h3>
    <% end %>
    <% if @submissions.where(accepted: nil).present?  %>
      <div class="submission__approval">
        <% @submissions.where(accepted: nil).each do |submission| %>
          <div class="submission__approval__item">
            <div class="submission__approval__user">
              <%= link_to user_path(submission.user), class: "user" do %>
                <% user_avatar = submission.user.facebook_picture_url || submission.user.avatar || "default-avatar.png" %>
                <%= cl_image_tag user_avatar, class: "avatar", crop: :thumb, gravity: :face, width: 300, height: 300 %>
                <%= submission.user.first_name.capitalize  %>
              <% end %>
            </div>
            <div class="submission__approval__actions">
              <% if policy(@submission).current_user_is_driver? && !policy(@submission).seat_full? %>
                <%= link_to(approve_submission_path(@trip, submission)) do %>
                  <%= icon('fas', 'check') %>Accept
                <% end %>
                |
                <%= link_to(reject_submission_path(@trip, submission), class: "decline") do %>
                  <%= icon('fas', 'times') %>Decline
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      <span>
        <% if policy(@trip).add_review? && policy(@trip).date_passed? %>
          <%= link_to(new_trip_review_path(@trip), class: "btn btn-success") do %>
          Add a Review
          <% end %>
        <% end %>
      </span>
    </div>
  <% end  %>
  <% end %>
