<div id="submission__area">
  <% count_seats = [@trip.seats - @submissions.where(accepted: true).to_a.size, 0].max %>

  <% if policy(@trip).date_passed? %>
    <h3 class="main__title">Too late, this hike has passed!</h3>
  <% elsif count_seats == 0 %>
    <h3 class="main__title">This hike is full!</h3>
  <% else %>
    <h3 class="main__title"><%= pluralize(count_seats, "seat") %> available</h3>
  <% end %>

  <div class="submission__buddies">
    <div class="submission__buddies__list">
      <%= link_to user_path(@trip.user) do %>
        <div class="submission__buddies__buddy">
          <% user_avatar = @trip.user.facebook_picture_url || @trip.user.avatar || "default-avatar.png" %>
          <%= cl_image_tag user_avatar, class: "avatar", crop: :thumb, gravity: :face, width: 300, height: 300 %>
          <span class="buddy__avatar__name"><%= @trip.user.first_name %></span>
        </div>
      <% end %>
      <% if @submissions.where(accepted: true).present? %>
        <% @submissions.where(accepted: true).each do |submission| %>
          <div class="submission__buddies__buddy">
            <%= link_to user_path(submission.user) do %>
              <% user_avatar = submission.user.facebook_picture_url || submission.user.avatar || "default-avatar.png" %>
              <%= cl_image_tag user_avatar, class: "avatar", crop: :thumb, gravity: :face, width: 300, height: 300 %>
              <% if submission.user != current_user %>
                <span class="buddy__avatar__name"><%= submission.user.first_name %></span>
              <% end %>

              <% if policy(submission).reject? %>
                <%= link_to(reject_submission_path(@trip, submission), class: "reject") do %>
                  <%= icon('fas', 'times') %>
                <% end %>
              <% end %>

              <% if policy(submission).destroy? %>
                <%= link_to(submission_path(@submission), method: :delete, data: { confirm: "Are you sure?" }, class: "reject--self") do %>
                  <%= icon('fas', 'times') %>
                <% end %>
              <% end %>

            <% end %>
          </div>
        <% end %>
      <% end %>
      <% (@trip.seats - @submissions.where(accepted: true).count).times do %>
        <div class="submission__buddies__buddy seat--available">
          <%= image_tag "default-avatar.png" %>
        </div>
      <% end %>
    </div>
  </div>

  <% if !policy(@trip).date_passed? %>
    <% if policy(@submission).create? %>
      <div class="submission__form">
        <%= simple_form_for([@trip, @submission]) do |f| %>
          <%= f.error_notification %>
          <div class="form-actions">
            <%= button_tag class: "btn btn--primary" do %>
              Join this hike<%= icon('fab', 'telegram-plane') %>
            <% end %>
          </div>
          <% if policy(@trip).automatic? %>
            <p>Submissions are automatically accepted</p>
          <% else %>
          <p>Submissions are manually validated by <%= @trip.user.first_name %></p>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <% if policy(@submission).submission_present? %>
    <div class="submission__approval__waiting">
      <p>You will be notified by email when your submission will be treated by <%= @trip.user.first_name %>.</p>
      <%= link_to(submission_path(@submission), method: :delete, data: { confirm: "Are you sure?" }, class: "decline") do %>
        <%= icon('fas', 'trash') %>Cancel my submission
      <% end %>
    </div>
  <% end  %>

  <% if policy(@submission).current_user_is_driver? %>

    <% if policy(@submission).submissions_pending? %>
    <h3>Waiting for approval</h3>
      <div class="submission__approval">
        <% @submissions.where(accepted: nil).each do |submission| %>
          <div class="submission__approval__item">
            <div class="submission__approval__user">
              <%= link_to user_path(submission.user), class: "user" do %>
                <% user_avatar = submission.user.facebook_picture_url || submission.user.avatar || "default-avatar.png" %>
                <%= image_tag user_avatar, class: "avatar" %>
                <%= submission.user.first_name.capitalize  %>
              <% end %>
            </div>
            <div class="submission__approval__actions">
              <% if policy(@submission).approve? && !policy(@submission).seat_full? %>
                <%= link_to(approve_submission_path(@trip, submission)) do %>
                  <%= icon('fas', 'check') %>Accept
                <% end %>
                  |
                <%= link_to(reject_submission_path(@trip, submission), class: "decline") do %>
                  <%= icon('fas', 'times') %>Decline
                <% end %>

              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
