<div class="trip__submitters__container">
  <div class="row">
    <div class="col-lg-12">
      <br>
      <% count_seats = [@trip.seats - @submissions.where(accepted: true).to_a.size, 0].max %>
      <h3><i class="fas fa-users"></i> <%= count_seats %> seat(s) available</h3><br>
      <% @submissions.where(accepted: true).each do |submission| %>
        <span class="trip__details__title">
          <%= link_to user_path(submission.user) do %>
            <% user_avatar = submission.user.facebook_picture_url || submission.user.avatar || "default-avatar.png" %>
            <%= image_tag user_avatar, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
            <%= submission.user.first_name.capitalize  %>
          <% end %>
        </span>
      <% end %>
      <br>
      <span>
        <br>
          <% if policy(@submission).create? %>
            <%= simple_form_for([@trip, @submission]) do |f| %>
              <%= f.error_notification %>
              <div class="form-inputs">
                <%= f.input :content %>
              </div>
              <div class="form-actions">
                <%= f.submit "Submit", class: "btn btn--primary" %>
              </div>
            <% end %>
          <% elsif policy(@submission).status_accepted? %>
            <p>You are good to go!</p>
          <% elsif policy(@submission).status_pending? %>
            <p>You already applied - you'll get an answer soon</p>
          <% elsif policy(@submission).status_rejected? %>
            <p>Bummer - find another hike you could join</p>
          <% else policy(@submission).seat_full? %>
            <p>Sorry, no more seats available</p>
          <% end %>
        <br>
          <% if policy(@submission).status_already_applied? %>
            <% if policy(@submission).automatic? %>
              <p>Submissions are automatically accepted</p>
            <% else %>
              <p>Submissions are manually validated by <%= @trip.user.first_name %></p>
            <% end %>
          <% end %>
      </span>
      <br>
      <span>
        <h3><i class="fas fa-hourglass-half"></i>
          Waiting For Approval
        </h3>
        <% @submissions.where(accepted: nil).each do |submission| %>
          <span class="trip__details__title">
            <%= link_to user_path(submission.user) do %>
              <% user_avatar = submission.user.facebook_picture_url || submission.user.avatar || "default-avatar.png" %>
              <%= image_tag user_avatar, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
              <%= submission.user.first_name.capitalize  %>
              <%= link_to(select_submission_path(@trip, submission), class: "btn btn--secondary") do %>
                <i class="fas fa-thumbs-up"></i>Accept
              <% end %>
            <% end %>
          </span>
        <% end %>
      </span>
      <span>
        <% if policy(@trip).add_review?%>
          <%= link_to(new_trip_review_path(@trip), class: "btn btn-success") do %>
          Add a Review
          <% end %>
        <% end %>
      </span>
    </div>
  </div>
</div>
