<%= link_to(trip_path(trip), class: "trip__card") do %>
  <% if trip.seats - trip.submissions.where(accepted: true).count == 0 %>
    <span class="complete__label">Trip complete</span>
  <% end %>
  <div class="trip__card__body <%= 'complete' if trip.seats - trip.submissions.where(accepted: true).count == 0 %>" style="background-image: url(<%= trip.hike.photo_url %>)">
    <div class="trip__card__content">
      <h2 class="trip__card__title"><%= trip.title %></h2>
      <span class="trip__card__user">
        <% user_avatar = trip.user.facebook_picture_url || trip.user.avatar || "default-avatar.png" %>
        <%= cl_image_tag user_avatar, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown", crop: :thumb, gravity: :face, width: 300, height: 300 %>
        <%= "#{trip.user.first_name.capitalize}" %>
      </span>
    </div>
    <span class="trip__card__filter"></span>
  </div>
  <div class="trip__card__footer">
    <span class="trip__card__date"><i class="fas fa-calendar-alt"></i><%= trip.date.strftime("%m/%d/%y") %></span>
    <span class="trip__card__start"><%= icon('fas', 'car') %><%= trip.start_location %></span>
    <span class="trip__card__distance"><%= icon('fas', 'map-signs') %><%= trip.hike.distance %></span>
    <span class="trip__card__difficulty"><%= icon('fas', 'flag') %><%= trip.hike.difficulty %></span>
  </div>
<% end %>
