<section id="new__trip">
  <div class="container">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="new__trip__title">
        <h1>Créer une sortie</h1>
      </div>

      <%= simple_form_for(@trip) do |f| %>
        <%= f.error_notification %>

        <div class="new__trip__step">
          <h2>Etape 1 - Sélectionnez une randonnée</h2>

          <div class="form-inputs">
            <%= f.input :hike, label: "Ou souhaitez vous aller?", placeholder: "Sélectionnez un departement", collection: @departments_list, id: "truc" %>
          </div>

          <div class="hikes__list">

          </div>
        </div>

        <div class="new__trip__step">
          <h2>Etape 2 - Renseignez les détails de votre sortie</h2>

          <div class="form-inputs">
            <%= f.input :title, label: "Titre de votre sortie", placeholder: "Donnez un titre à votre sortie" %>
          </div>

          <div class="form-inline-group">
            <div class="form-inputs">
              <%= f.input :start_location, label: "Ville de départ", placeholder: "e.g: 'Lyon'" %>
            </div>
            <div class="form-inputs">
              <%= f.input :date, as: :string %>
            </div>
          </div>

          <div class="form-inline-group">
            <div class="form-inputs">
              <%= f.input :trip_type, label: "Type de sortie" , include_blank: false, collection: @trip_types  %>
            </div>
            <div class="form-inputs">
              <%= f.input :seats, label: "Nombre de places disponibles" %>
            </div>
            <div class="form-inputs">
              <%= f.input :fees, label: "Frais de participation (€)", placeholder:"Essence, péage..." %>
            </div>
          </div>

          <div class="form-inputs">
            <%= f.input :description, placeholder: "Vous aurez plus de demandes avec une description précise" %>
          </div>

          <div class="form-inputs">
            <%= f.input :auto_accept, label: "Accepter automatiquement les demandes?" %>
          </div>
        </div>

        <div class="new__trip__actions">
          <%= link_to "Annuler", root_path %>
          <%= button_tag class: "btn btn--primary" do %>
            Créer<%= icon('fa', 'location-arrow') %>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</section>
