<section id="new__trip">
  <div class="container">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="new__trip__title">
        <h1>Create a trip</h1>
      </div>

      <%= simple_form_for(@trip) do |f| %>
        <%= f.error_notification %>

        <div class="new__trip__step">
          <h2>Step 1 - Select a hike</h2>

          <div class="form-inputs">
            <%= f.input :hike, label: "Where do you wanna go?", placeholder: "Chose a department", collection: @departments_list, id: "truc" %>
          </div>

          <div class="hikes__list">

          </div>
        </div>

        <div class="new__trip__step">
          <h2>Step 2 - Give details about your trip</h2>

          <div class="form-inputs">
            <%= f.input :title, placeholder: "Give an explicit title for your trip" %>
          </div>

          <div class="form-inline-group">
            <div class="form-inputs">
              <%= f.input :start_location, placeholder: "e.g: 'Lyon'" %>
            </div>
            <div class="form-inputs">
              <%= f.input :date, order: [:day, :month, :year] %>
            </div>
            <div class="form-inputs">
              <%= f.input :trip_type, include_blank: false, collection: @trip_types  %>
            </div>
            <div class="form-inputs">
              <%= f.input :seats, label: "Seats" %>
            </div>
          </div>

          <div class="form-inline-group">
          </div>

          <div class="form-inputs">
            <%= f.input :description, placeholder: "You will have more answers with a nice description"  %>
          </div>

          <div class="form-inputs">
            <%= f.input :auto_accept, label: "Automatically accept all submissions?"  %>
          </div>
        </div>

        <div class="new__trip__actions">
          <%= link_to "Cancel", root_path %>
          <%= f.submit "Create", class: "btn btn--primary" %>
        </div>
      <% end %>

    </div>
  </div>
</section>
