
<div class="banner trip__banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://unsplash.com/photos/Bkci_8qcdvQ')" >
  <div class="container">
    <div class="trip__banner__actions">
      <% if policy(@trip).update? %>
        <%= link_to(edit_trip_path(@trip), class: "btn btn--secondary") do %>
        <%= icon('fas', 'edit') %>Edit
        <% end %>
      <% end %>
      <% if policy(@trip).destroy?%>
        <%= link_to(trip_path(@trip), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn--secondary") do %>
        <%= icon('fas', 'trash') %>Delete
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<section class="trip__details">
  <div class="trip_container">
    <div class="trip__details__container">
      <div class="row">
        <div class="col-lg-8">
          <h1 class="trip__details__title"><%= @trip.title %></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8  trip__details_row">
          <span class="trip__details__creator">
            <%= link_to (image_tag "http://kitt.lewagon.com/placeholder/users/louleman34", class: "avatar", id: "navbar-wagon-menu", "data-toggle" => "dropdown"), user_path(@user) %>
            <% @user.first_name %>
          </span>
          <span class="trip__details__creator"><%= @trip.date %></span>
          <span class="trip__details__creator"><%= @trip.start_location %></span>
          <span class="trip__details__creator"><%= @trip.hike.location %></span>
          <span class="trip__details__creator"><%= @trip.hike.difficulty %></span>
          <span class="trip__details__creator"><%= @trip.hike.duration %></span>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 trip__details_row">
          <span class="trip__details__creator"><%= @trip.description %></span>
        </div>
      </div>
    </div>

    <%= render "submission-area" %>

  </div>
  <br>
  <br>
  <div class="trip_container">
     <div class="row">
        <div class="col-lg-8 trip__details_row">
          <span class="trip__details__creator">
           <ul>
            <% @messages.each do |message| %>
               <li><%= message.content %></li><br>
            <% end %>
            </ul>
          </span>
        </div>
      </div>
    </div>
</section>

<%= render "map" %>

<p><% @submissions.where(trip_id: @trip.id, accepted:false).each do |submission| %>
    <%= submission.user.first_name  %>
   <% end %>
</p>
<br>


<!-- titre du trip

description du trip
inscrits à la balade
messages

button submission
button create a hike -->
