
<div class="banner trip__banner" style="background-image: url(<%= @trip.hike.photo_url %>)" >
  <div class="container">
    <div class="trip__banner__actions">
      <% if policy(@trip).destroy?%>
        <%= link_to(trip_path(@trip), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn--secondary") do %>
          <%= icon('fas', 'trash') %>Delete
        <% end %>
      <% end %>
      <% if policy(@trip).update? %>
        <%= link_to(edit_trip_path(@trip), class: "btn btn--secondary") do %>
          <%= icon('fas', 'edit') %>Edit
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<section id="trip__details">
  <div class="container">

    <div class="col-lg-8">
      <h1><%= @trip.title %></h1>

      <div class="trip__details__user">
        <span class="trip__details__date">
          <%= link_to user_path(@user) do %>
            <% user_avatar = @user.facebook_picture_url || @user.avatar || "default-avatar.png" %>
            <%= image_tag user_avatar, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
            <%= @user.first_name.capitalize %>
          <% end %>
        </span>
        <span class="trip__details__date">
          <%= icon('fas', 'calendar-alt') %><%= @trip.date %>
        </span>
        <span class="trip__details__start">
          <%= icon('fas', 'car') %><%= @trip.start_location %>
        </span>
        <span class="trip__details__triptype">
          <%= icon('fas', 'crosshairs') %><%= @trip.trip_type %>
        </span>
      </div>

      <div class="trip__details__description">
        <p><%= simple_format(@trip.description) %></p>
      </div>

      <div class="trip__details__hike">
        <h2>Details about this hike</h2>
        <p><%= @hike.description %></p>
      </div>

      <div class="trip__details__map">
        <%= render "map" %>
      </div>

    </div>

    <div class="col-lg-4">
      <%= render "submission-area" %>
    </div>

  </div>
</section>



<p><% @submissions.where(trip_id: @trip.id, accepted:false).each do |submission| %>
    <%= submission.user.first_name  %>
   <% end %>
</p>
<br>
