
<div class="banner trip__banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(<%= @trip.hike.photo_url %>)" >
  <div class="container">
    <div class="trip__banner__actions">
      <% if policy(@trip).update? %>
        <%= link_to(edit_trip_path(@trip), class: "btn btn--secondary") do %>
        <%= icon('fas', 'edit') %>Edit
        <% end %>
      <% end %>
      <% if policy(@trip).destroy?%>
        <%= link_to(trip_path(@trip), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn--secondary") do %>
        <%= icon('fas', 'trash') %>Delete
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<section class="trip__details">
  <div class="trip_container">
    <div class="trip__details__container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="trip__details__title"><%= @trip.title %></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12  trip__details_row">
          <span class="trip__details__creator">
            <%= link_to user_path(@user) do %>
            <% user_avatar = @user.facebook_picture_url || @user.avatar || "default-avatar.png" %>
            <%= image_tag user_avatar, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
            <%= @user.first_name.capitalize %>
            <% end %>
          </span>
          <br>
          <span class="trip__details__creator"><i class="fas fa-calendar-alt"></i> <%= @trip.date %></span>
          <span class="trip__details__creator"><i class="fas fa-car"></i> <%= @trip.start_location %></span>
          <span class="trip__details__creator"><%= icon('fas', 'map-marker-alt') %> <%= @trip.hike.location %></span>
          <span class="trip__details__creator"><%= icon('fas', 'tag') %> <%= @trip.hike.difficulty %></span>
          <span class="trip__details__creator"><i class="fas fa-clock"></i> <%= @trip.hike.duration %></span>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 trip__details_row">
          <span class="trip__details__creator"><%= @trip.description %></span>
        </div>
      </div>
    </div>

    <%= render "submission-area" %>

  </div>
  <br>
  <br>
  <div class="trip_container">
     <div class="row">
        <div class="col-lg-8 trip__details_row">
          <span class="trip__details__creator">
           <ul>
            <% @messages.each do |message| %>
               <li><%= message.content %></li><br>
            <% end %>
            </ul>
          </span>
        </div>
      </div>
    </div>
</section>

<%= render "map" %>

<p><% @submissions.where(trip_id: @trip.id, accepted:false).each do |submission| %>
    <%= submission.user.first_name  %>
   <% end %>
</p>
<br>
