<h1>Update your profile</h1>

<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name, placeholder: "#{@user.first_name}" %>
  </div>

  <div class="form-inputs">
    <%= f.input :last_name, placeholder: "#{@user.last_name}" %>
  </div>

  <div class="form-inputs">
    <%= f.input :email, placeholder:"#{@user.email}" %>
  </div>

  <div class="form-inputs">
    <%= f.input :age, placeholder: "#{@user.age}" %>
  </div>

  <div class="form-actions">
    <%= f.submit "Validate", class: "btn btn--primary" %>
    <%= link_to "Cancel", user_path(@user), class: "btn btn--secondary" %>
  </div>
<% end %>
