<h1>Mettez à jour votre profil</h1>

<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name, label: "Prénom",placeholder: "#{@user.first_name}" %>
  </div>

  <div class="form-inputs">
    <%= f.input :last_name, label: "Nom",placeholder: "#{@user.last_name}" %>
  </div>

  <div class="form-inputs">
    <%= f.input :email, placeholder:"#{@user.email}" %>
  </div>

  <div class="form-inputs">
    <%= f.input :age, placeholder: "#{@user.age}" %>
  </div>

  <div class="form-actions">
    <%= f.submit "Valider", class: "btn btn--primary" %>
    <%= link_to "Annuler", user_path(@user), class: "btn btn--secondary" %>
  </div>
<% end %>
