<div class="container">
  <h1>Profile of <%= @user.first_name %> </h1>
</div>

<% if policy(@user).edit? %>
<div class="container">
  <ul style="list-style-type: none;">
   <li><% user_avatar = current_user.facebook_picture_url || current_user.avatar || "default-avatar.png" %>
      <%= image_tag user_avatar, class: "avatar" %>
   </li>
   <li><%= " First name: #{@user.first_name}" %></li>
   <li><%= " Last name: #{@user.last_name}" %></li>
   <li><%= " Email: #{@user.email}" %></li>
   <li><%= " Age: #{@user.age}" %></li>
   <li><%= link_to(edit_user_path(@user), class: "btn btn--secondary") do %>
    <%= icon('fas', 'edit') %>Edit</li>
    <% end %>
  </ul>
  <ul>
    <% @user.reviews.each do |review|%>
      <li><%= review.content %></li>
    <% end %>
  </ul>
</div>

<% else %>

<div class= "container">
  <ul style="list-style-type: none;">
    <li><% user_avatar = current_user.facebook_picture_url || current_user.avatar || "default-avatar.png" %>
        <%= image_tag user_avatar, class: "avatar" %>
    <li><%= " #{@user.first_name}" %></li>
    <li><%= " #{@user.age}" %></li>
  </ul>
  <ul>
    <% @user.reviews.each do |review|%>
      <li><%= review.content %></li>
    <% end %>
  </ul>
</div>

<% end %>

