<% cover = @user.cover || @default_cover %>
<div class="banner banner--user" style="background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('<%= cover %>');">
  <div class="container">
    <h1><%= @user.first_name %> <%= @user.last_name.capitalize[0] %></h1>
    <p><%= @user.age %> ans</p>
  </div>
</div>

<section id="user__info">
  <div class="container">
    <div class="user__info__avatar">
      <% user_avatar = @user.facebook_picture_url || @user.avatar || "default-avatar.png" %>
      <%= cl_image_tag user_avatar, class: "avatar--profile", width: 400, height: 400, crop: :fill, gravity: :face %>
    </div>

    <% if @user.reviews.any? %>
      <div class="user__info__average">
        <%= render "average_review_ratings" %>
      </div>
    <% end %>

    <div class="row user__info__bio">
      <div class="col-lg-6 col-lg-offset-3">
        <% if policy(@user).edit? %>
          <%= render "user_form" %>
        <% else %>
          <p><%= @user.description %></p>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section id="user__reviews">
  <div class="container">
    <% if policy(@user).update? %>
      <% if @user.reviews.any? %>
        <h2><%= "Mes évaluations" %></h2>
      <% else %>
        <h2><%= "Vous n'avez pas encore d'évaluations" %></h2>
      <% end %>
    <% else %>
      <% if @user.reviews.any? %>
        <h2><%= "Reviews of #{@user.first_name.capitalize}" %></h2>
      <% else %>
        <h2><%= "#{@user.first_name.capitalize} has no review yet" %></h2>
      <% end %>
    <% end %>

    <div class="row user__reviews__list">
      <% @user.reviews.each do |review| %>
        <div class="col-lg-3">
          <%= render "review_card", review: review %>
        </div>
      <% end %>
    </div>
  </div>
</section>

<section id="user__trips">
  <div class="container">
    <% if @user_trips.any? %>
      <% if policy(@user).show? %>
        <% if policy(@user).edit? %>
          <h2>My trips</h2>
        <% else %>
          <h2>Trips of <%= @user.first_name %></h2>
        <% end %>
      <% end %>
    <% end %>

    <div class="row">
      <% @user_trips.each do |trip|%>
        <div class="col-lg-6">
          <%= render "trips/trip-card", trip: trip %>
        </div>
      <% end %>
    </div>
  </div>
</section>
