<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="user__box">
        <% if policy(@user).update? %>
            <h1><%= "My profile" %></h1>
          <% else %>
            <h1><%= "Profile of #{@user.first_name.capitalize}" %></h1>
          <% end %>
        <p>
          <% user_avatar = @user.facebook_picture_url || @user.avatar || "default-avatar.png" %>
          <%= cl_image_tag user_avatar, class: "avatar__profile", width: 400, height: 400, crop: :fill, gravity: :face %>
        </p>
        <p>
          <% if @user.reviews.any? %>
            <%= render "average_review_ratings" %>
          <% end %>
        </p>
        <div class="user__form__details">
          <% if policy(@user).edit? %>
            <%= render "user_form" %>
          <% else %>
            <ul style="list-style-type: none;">
              <li><%= " #{@user.first_name.capitalize}" %></li>
              <li><%= " Age: #{@user.age}" %></li>
              <li><%= " #{@user.description}" %></li>
            </ul>
          <% end %>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="user__box__title">
              <% if policy(@user).update? %>
                <% if @user.reviews.any? %>
                  <h2><%= "My reviews" %></h2>
                <% else %>
                  <h2><%= "You have no review yet" %></h2>
                <% end %>
              <% else %>
                <% if @user.reviews.any? %>
                  <h3><%= "Reviews of #{@user.first_name.capitalize}" %></h3>
                <% else %>
                  <h2><%= "#{@user.first_name.capitalize} has no review yet" %></h2>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="user__review__details">
          <%= render "reviews_details" %>
        </div>
        <div class="row" id="trips">
          <div class="col-xs-12">
            <div class="user__box__title" >
              <% if @trips.any? %>
                <% if policy(@user).show? %>
                  <% if policy(@user).edit? %>
                    <h2 style="text-align: center;"><%= "My trips" %></h2>
                  <% else %>
                    <h2 style="text-align: center;"><%= "Trips of #{@user.first_name}" %></h2>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="row">
          <% @trips.each do |trip|%>
            <div class="col-xs-12 col-sm-6">
              <%= render "trips/trip-card", trip: trip %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
