<header class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "logo" do %>
    <%= image_tag "logo-whikend.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <%= link_to((new_trip_path), class: "btn btn--addtrip") do %>
        Créer une sortie<%= icon('fas', 'plus') %>
      <% end %>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <% user_avatar = current_user.facebook_picture_url || current_user.avatar || "default-avatar.png" %>

          <%= cl_image_tag user_avatar, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown", crop: :thumb, gravity: :face, width: 300, height: 300 %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li >
              <%= link_to(user_path(current_user), class: "user__profile") do %>
                <div class="user__profile__avatar">
                  <% user_avatar = current_user.facebook_picture_url || current_user.avatar || "default-avatar.png" %>
                  <%= cl_image_tag user_avatar, class: "avatar", crop: :thumb, gravity: :face, width: 300, height: 300 %>
                </div>
                <div class="user__profile__name">
                  <%= current_user.first_name&.capitalize %><%= current_user.last_name.capitalize[0] if current_user.last_name.present? %>
                </div>
                <div class="user__profile__email">
                  <%= current_user.email %>
                </div>
              <% end %>
            </li>
            <li>
              <%= link_to(user_path(current_user, anchor: "user__trips"), class: "navbar-wagon-item navbar-wagon-link") do %>
                <%= icon('fas', 'location-arrow') %><%= t(".profile", default: "Mes sorties") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <%= icon('fas', 'sign-out-alt') %><%= t(".sign_out", default: "Se déconnecter") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->

      <%= link_to "Se connecter", "#login-modal", "data-toggle" => "modal", class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "S'inscrire", "#sign-up-modal", "data-toggle" => "modal", class: "navbar-wagon-item navbar-wagon-link" %>

      <%= render "shared/login_modal" %>
      <%= render "shared/sign_up_modal" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a data-toggle="modal" data-target="#sign-in-modal">Sign in</a></li>
        <li><a href="#">Sign up</a></li>
      </ul>
    </div>
  </div>
</header>
