<div class="modal fade" id="sign-up-modal" tabindex="1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">Sign up to Whikend</h3>
      </div>
      <div class="modal-body">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true %>
            <%= f.input :password, label: 'Mot de passe', required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
            <%= f.input :password_confirmation, label: 'Confirmation mot de passe', required: true %>
            <%= f.input :first_name, label: 'Prénom', required: true %>
            <%= f.input :last_name, label: 'Nom', required: true %>
            <label><abbr title="required">*</abbr> Photo de profil</label>
            <%= f.file_field :avatar %>
            <%= f.hidden_field :avatar_cache, as: :hidden %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Je m'inscris!", class: "btn btn--primary" %>
            <%= render "devise/shared/sign_up_links" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
