<div class="hike__card">

  <div class="hike__card__body" style="background-image: url(<%= hike.photo_url %>)">

    <div class="hike__card__body__info">
      <h2 class="hike__card__title"><%= hike.title %></h2>
      <p>
        <span class="hike__card__location">
          <%= icon('fas', 'map-marker-alt') %><%= hike.location %>
        </span>
      </p>
    </div>
    <span class="hike__card__filter"></span>
  </div>

  <div class="hike__card__actions">
    <button type="button" class="btn btn--primary details" data-toggle="modal" data-target="#hike__more__details__<%= hike.id %>">
      More details
    </button>
    <label for="hike-<%= hike.id %>" class="hike__radio btn btn--primary">Select this hike</label>
    <input id="hike-<%= hike.id %>" type="radio" name="trip[hike_id]" value="<%= hike.id %>">
  </div>

</div>


<%= render "hike_modal" %>
